<%- include('../partials/header') %>
<h3><%= todo.todo %></h3>
<h3>Complete: <%= todo.done ? 'Yes' : 'No' %></h3>
<a href="/todos/<%= todo.id %>/edit">Edit To-Do</a>
<%- include('../partials/footer') %>
